.poster-container {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto';
  color: #ffffff;
}

.poster-heading {
  font-size: 60px;
}

.text1-container {
  width: 500px;
  padding: 70px;
  margin-bottom: 50px;
}

.poster-para {
  font-size: 20px;
}

.poster-button {
  height: 35px;
  width: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
  color: #171f46;
  background-color: #ffffff;
  border-radius: 3px;
  border-width: 0;
}
