.popular-page-container {
  min-height: 100vh;
  background-size: cover;
  background-color: #131313;
}

.movies-container {
  height: 100%;
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
