.image-size {
  height: 160px;
  width: 240px;
  border-radius: 8px;
  background-size: cover;
  margin-bottom: 15px;
}

.card {
  margin-right: 15px;
  list-style-type: none;
}

@media screen and (max-width: 760px) {
  .image-size {
    height: 100px;
    width: 93px;
    border-radius: 4px;
  }
}
