.header-container {
  height: 90px;
  background-size: cover;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #131313;
}

.logo-size {
  height: 30px;
}

.left-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.option-text {
  font-family: 'Roboto';
  font-size: 16px;
  color: #f8fafc;
  margin-left: 20px;
  font-style: normal;
  text-decoration: none;
}

.main-input-container {
  height: 38px;
  background-color: #131313;
  border-width: 2px;
  border: 1.5px solid #ffffff;
  border-radius: 3px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search-input-container {
  height: 30px;
  background-color: #131313;
  border-width: 0;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  width: 190px;
}

.search-icon {
  height: 35px;
  background-color: #333333;
  color: #f8fafc;
  border-width: 0;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image-size {
  height: 40px;
  width: 40px;
  margin-left: 20px;
}
.home-containers-mobile {
  display: none;
}

@media screen and (max-width: 760px) {
  .header-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    height: 10vh;
  }
  .home-containers-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #f8fafc;
    width: 100%;
    height: 65px;
    background-color: #131313;
  }
  .profile-image-size {
    display: none;
  }
  .option-text {
    display: none;
  }
  .close-icon {
    height: 23px;
    width: 23px;
    color: #ffffff;
  }
  .close-btn-container {
    background-color: transparent;
    cursor: pointer;
    border-width: 0;
  }
  .mobile-text {
    font-family: 'Roboto';
    font-size: 16px;
    color: #ffffff;
  }
  .menu-btn {
    background-color: transparent;
    border-width: 0;
    height: 24px;
    width: 24px;
    cursor: pointer;
    align-self: center;
    margin-bottom: 4px;
    margin-left: 2px;
  }
  .menu-icon {
    color: #ffffff;
    height: 32px;
    width: 32px;
  }
}
